.row{
    padding-top: 50px;
    padding-bottom: 20px;
    
    
}

.header{
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    font-size: 80px;
    text-align: center;
}

.header2{
    background-color: red;
    color: #fff;
}

.bg{
    background-color: rgb(206, 204, 204);
    border: red dotted 3px;
}

.tickets{
    color: rgb(12, 167, 32);
    text-align: center;
    border: red dotted 3px;
}